In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
IPL = pd.read_csv('C:/Users/Meetali Tomer/Downloads/IPL 2020 Dataset.csv') 
results = pd.read_csv('C:/Users/Meetali Tomer/Downloads/results.csv')

In [3]:
IPL.head()

,Team,Group,Previous appearances,Previous titles,Previous finals,Previous semifinals,Current rank
0,Mumbai Indians,A,12,4,5,8,1
1,Chennai Super Kings,A,10,3,8,10,2
2,Delhi Capitals,A,12,0,0,4,7
3,Kings XI Punjab,A,12,0,1,2,6
4,Royal Challengers Bangalore,A,12,0,3,5,8

In [4]:
results.head()

,date,Team_1,Team_2,winner,Margin,Ground
0,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,33 runs,Chandigarh
1,2008-04-23,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,6 runs,Chennai
2,2008-04-26,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,9 wickets,Chennai
3,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,13 runs,Bangalore
4,2008-05-08,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,4 wickets,Delhi

In [5]:
IPL_Teams = ['Mumbai Indians', 'Chennai Super Kings', 'Delhi Capitals', 'Kings XI Punjab', 
            'Royal Challengers Bangalore', 'Kolkata Knight Riders', 'Sun Risers Hyderabad', 'Rajasthan Royals']
df_teams_1 = results[results['Team_1'].isin(IPL_Teams)]
df_teams_2 = results[results['Team_2'].isin(IPL_Teams)]
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.count()

date      1048
Team_1    1048
Team_2    1048
winner    1048
Margin    1048
Ground    1048
dtype: int64

In [6]:
df_teams.head()

,date,Team_1,Team_2,winner,Margin,Ground
0,2008-04-19,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,33 runs,Chandigarh
1,2008-04-23,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,6 runs,Chennai
2,2008-04-26,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,9 wickets,Chennai
3,2008-04-28,Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,13 runs,Bangalore
5,2008-05-10,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,18 runs,Chennai

In [7]:
df_teams_2010 = df_teams.drop(['date','Margin', 'Ground'], axis=1)
df_teams_2010.head()

                  Team_1                       Team_2               winner
0    Chennai Super Kings              Kings XI Punjab  Chennai Super Kings
1    Chennai Super Kings               Mumbai Indians  Chennai Super Kings
2  Kolkata Knight Riders          Chennai Super Kings  Chennai Super Kings
3    Chennai Super Kings  Royal Challengers Bangalore  Chennai Super Kings
5    Chennai Super Kings              Kings XI Punjab  Chennai Super Kings

In [8]:
df_teams = df_teams.reset_index(drop=True)
df_teams.loc[df_teams.winner == df_teams.Team_1,'winning_team']=1
df_teams.loc[df_teams.winner == df_teams.Team_2, 'winning_team']=2
df_teams = df_teams.drop(['winning_team'], axis=1)

df_teams_2010.head()

                  Team_1                       Team_2               winner
0    Chennai Super Kings              Kings XI Punjab  Chennai Super Kings
1    Chennai Super Kings               Mumbai Indians  Chennai Super Kings
2  Kolkata Knight Riders          Chennai Super Kings  Chennai Super Kings
3    Chennai Super Kings  Royal Challengers Bangalore  Chennai Super Kings
5    Chennai Super Kings              Kings XI Punjab  Chennai Super Kings

In [9]:
final = pd.get_dummies(df_teams_2010, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

X = final.drop(['winner'], axis=1)
y = final["winner"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

final.head()

,winner,Team_1_Chennai Super Kings,Team_1_Deccan Chargers,Team_1_Delhi Capitals,Team_1_Delhi Daredevils,Team_1_Gujarat Lions,Team_1_Kings XI Punjab,Team_1_Kochi Tuskers Kerala,Team_1_Kolkata Knight Riders,Team_1_Mumbai Indians,...,Team_2_Kings XI Punjab,Team_2_Kochi Tuskers Kerala,Team_2_Kolkata Knight Riders,Team_2_Mumbai Indians,Team_2_Pune Warriors,Team_2_Rajasthan Royals,Team_2_Rising Pune Supergiant,Team_2_Rising Pune Supergiants,Team_2_Royal Challengers Bangalore,Team_2_Sunrisers Hyderabad
0,Chennai Super Kings,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Chennai Super Kings,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,Chennai Super Kings,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Chennai Super Kings,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,Chennai Super Kings,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [10]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,random_state=0)
rf.fit(X_train, y_train) 

score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.686
Test set accuracy:  0.543

In [11]:
fixtures = pd.read_csv('C:/Users/Meetali Tomer/Downloads/IPLSchedule.csv')
ranking = pd.read_csv('C:/Users/Meetali Tomer/Downloads/ipl_rankings.csv') 

pred_set = []

In [12]:
fixtures.insert(1, 'first_position', fixtures['Team_1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team_2'].map(ranking.set_index('Team')['Position']))

fixtures = fixtures.iloc[:56, :]
fixtures.tail()

,Round Number,first_position,second_position,Date,Location,Team_1,Team_2,Group,Result
51,7,5.0,NaN,31/10/2020 19:30,Sharjah Cricket Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,NaN,NaN
52,7,2.0,4.0,01/11/2020 15:30,"Zayed Cricket Stadium, Abu Dhabi",Chennai Super Kings,Kings XI Punjab,NaN,NaN
53,7,6.0,8.0,01/11/2020 19:30,Dubai International Cricket Stadium,Kolkata Knight Riders,Rajasthan Royals,NaN,NaN
54,7,3.0,5.0,02/11/2020 19:30,"Zayed Cricket Stadium, Abu Dhabi",Delhi Capitals,Royal Challengers Bangalore,NaN,NaN
55,7,NaN,1.0,03/11/2020 19:30,Sharjah Cricket Stadium,Sunrisers Hyderabad,Mumbai Indians,NaN,NaN

In [13]:
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Team_1': row['Team_1'], 'Team_2': row['Team_2'], 'winning_team': None})
    else:
        pred_set.append({'Team_1': row['Team_2'], 'Team_2': row['Team_1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

                        Team_1                 Team_2 winning_team
0               Mumbai Indians    Chennai Super Kings         None
1               Delhi Capitals        Kings XI Punjab         None
2  Royal Challengers Bangalore    Sunrisers Hyderabad         None
3          Chennai Super Kings       Rajasthan Royals         None
4               Mumbai Indians  Kolkata Knight Riders         None

In [14]:
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]

pred_set = pred_set.drop(['winner'], axis=1)
pred_set.head()

,Team_1_Chennai Super Kings,Team_1_Deccan Chargers,Team_1_Delhi Capitals,Team_1_Delhi Daredevils,Team_1_Gujarat Lions,Team_1_Kings XI Punjab,Team_1_Kochi Tuskers Kerala,Team_1_Kolkata Knight Riders,Team_1_Mumbai Indians,Team_1_Pune Warriors,...,Team_2_Kings XI Punjab,Team_2_Kochi Tuskers Kerala,Team_2_Kolkata Knight Riders,Team_2_Mumbai Indians,Team_2_Pune Warriors,Team_2_Rajasthan Royals,Team_2_Rising Pune Supergiant,Team_2_Rising Pune Supergiants,Team_2_Royal Challengers Bangalore,Team_2_Sunrisers Hyderabad
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [15]:
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    
    print("Winner: " + predictions[i])
    
   
    print("")

Chennai Super Kings and Mumbai Indians
Winner: Mumbai Indians

Kings XI Punjab and Delhi Capitals
Winner: Kings XI Punjab

Sunrisers Hyderabad and Royal Challengers Bangalore
Winner: Sunrisers Hyderabad

Rajasthan Royals and Chennai Super Kings
Winner: Chennai Super Kings

Kolkata Knight Riders and Mumbai Indians
Winner: Mumbai Indians

Royal Challengers Bangalore and Kings XI Punjab
Winner: Royal Challengers Bangalore

Delhi Capitals and Chennai Super Kings
Winner: Chennai Super Kings

Kolkata Knight Riders and Sunrisers Hyderabad
Winner: Kolkata Knight Riders

Rajasthan Royals and Kings XI Punjab
Winner: Kings XI Punjab

Royal Challengers Bangalore and Mumbai Indians
Winner: Mumbai Indians

Delhi Capitals and Sunrisers Hyderabad
Winner: Delhi Capitals

Rajasthan Royals and Kolkata Knight Riders
Winner: Rajasthan Royals

Kings XI Punjab and Mumbai Indians
Winner: Kings XI Punjab

Chennai Super Kings and Sunrisers Hyderabad
Winner: Chennai Super Kings

Rajasthan Royals and Royal Challengers Bangalore
Winner: Rajasthan Royals

Kolkata Knight Riders and Delhi Capitals
Winner: Kolkata Knight Riders

Mumbai Indians and Sunrisers Hyderabad
Winner: Mumbai Indians

Kings XI Punjab and Chennai Super Kings
Winner: Chennai Super Kings

Royal Challengers Bangalore and Delhi Capitals
Winner: Delhi Capitals

Rajasthan Royals and Mumbai Indians
Winner: Rajasthan Royals

Kolkata Knight Riders and Chennai Super Kings
Winner: Kolkata Knight Riders

Sunrisers Hyderabad and Kings XI Punjab
Winner: Sunrisers Hyderabad

Rajasthan Royals and Delhi Capitals
Winner: Rajasthan Royals

Kolkata Knight Riders and Kings XI Punjab
Winner: Kolkata Knight Riders

Royal Challengers Bangalore and Chennai Super Kings
Winner: Chennai Super Kings

Sunrisers Hyderabad and Rajasthan Royals
Winner: Sunrisers Hyderabad

Delhi Capitals and Mumbai Indians
Winner: Mumbai Indians

Kolkata Knight Riders and Royal Challengers Bangalore
Winner: Kolkata Knight Riders

Sunrisers Hyderabad and Chennai Super Kings
Winner: Chennai Super Kings

Rajasthan Royals and Delhi Capitals
Winner: Rajasthan Royals

Royal Challengers Bangalore and Kings XI Punjab
Winner: Royal Challengers Bangalore

Kolkata Knight Riders and Mumbai Indians
Winner: Mumbai Indians

Rajasthan Royals and Royal Challengers Bangalore
Winner: Rajasthan Royals

Delhi Capitals and Chennai Super Kings
Winner: Chennai Super Kings

Sunrisers Hyderabad and Kolkata Knight Riders
Winner: Kolkata Knight Riders

Kings XI Punjab and Mumbai Indians
Winner: Kings XI Punjab

Rajasthan Royals and Chennai Super Kings
Winner: Chennai Super Kings

Kings XI Punjab and Delhi Capitals
Winner: Kings XI Punjab

Kolkata Knight Riders and Royal Challengers Bangalore
Winner: Kolkata Knight Riders

Rajasthan Royals and Sunrisers Hyderabad
Winner: Rajasthan Royals

Chennai Super Kings and Mumbai Indians
Winner: Mumbai Indians

Kolkata Knight Riders and Delhi Capitals
Winner: Kolkata Knight Riders

Kings XI Punjab and Sunrisers Hyderabad
Winner: Sunrisers Hyderabad

Royal Challengers Bangalore and Chennai Super Kings
Winner: Chennai Super Kings

Rajasthan Royals and Mumbai Indians
Winner: Rajasthan Royals

Kolkata Knight Riders and Kings XI Punjab
Winner: Kolkata Knight Riders

Sunrisers Hyderabad and Delhi Capitals
Winner: Sunrisers Hyderabad

Royal Challengers Bangalore and Mumbai Indians
Winner: Mumbai Indians

Kolkata Knight Riders and Chennai Super Kings
Winner: Kolkata Knight Riders

Rajasthan Royals and Kings XI Punjab
Winner: Kings XI Punjab

Delhi Capitals and Mumbai Indians
Winner: Mumbai Indians

Royal Challengers Bangalore and Sunrisers Hyderabad
Winner: Royal Challengers Bangalore

Kings XI Punjab and Chennai Super Kings
Winner: Chennai Super Kings

Rajasthan Royals and Kolkata Knight Riders
Winner: Rajasthan Royals

Royal Challengers Bangalore and Delhi Capitals
Winner: Delhi Capitals

Sunrisers Hyderabad and Mumbai Indians
Winner: Sunrisers Hyderabad

In [16]:
def clean_and_predict(matches, ranking, final, rf):
    positions = []
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    pred_set = []
    i = 0
    j = 0

    while i < len(positions):
        dict1 = {}

        if positions[i] < positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})

        pred_set.append(dict1)
        i += 2
        j += 1
        
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['winner'], axis=1)

    predictions = rf.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        
        print("Winner: " + predictions[i])
        
        print("")

In [17]:
playoffs = [('Mumbai Indians', 'Delhi Capitals'),
            ('Royal Challengers Bangalore', 'Sun Risers Hyderabad')]

In [18]:
clean_and_predict(playoffs, ranking, final, rf)

Delhi Capitals and Mumbai Indians
Winner: Mumbai Indians

Sun Risers Hyderabad and Royal Challengers Bangalore
Winner: Royal Challengers Bangalore

In [19]:
eliminator = [('Royal Challengers Bangalore', 'Delhi Capitals')]
clean_and_predict(eliminator, ranking, final, rf)

Royal Challengers Bangalore and Delhi Capitals
Winner: Delhi Capitals

In [20]:
finals = [('Delhi Capitals', 'Mumbai Indians')]
clean_and_predict(finals, ranking, final, rf)

Delhi Capitals and Mumbai Indians
Winner: Mumbai Indians